doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='icon' type='image/x-icon' href='https://cdn1.iconfinder.com/data/icons/essentials-pack/96/code_coding_html_css_programming-256.png')
  body
    block content
