extends layout

block content
  h1= `Hello!${title}!`
  p=`Welcome to Hung Wei-Ching's ${title} 🎉`
  ul
    li.active
      a.link(href="#" class="active") Assignment1
    li
      a.link(href="data") Assignment2
    li
      a.link(href="sum.html") Assignment3
    li
      a.link(href="myName") Assignment4
    li
      a.link(href="https://github.com/limitching/remote-assignments/blob/main/Week-3/Assignment-5.js") Assignment5