* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Google Sans, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  height: 48px;
  gap: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: white;
}
body header div.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}
body header div.logo a {
  align-items: center;
}
body header div.logo a img {
  padding: 0 1rem 0 1rem;
  width: 185px;
  height: 32px;
}
body header div.big-bar {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: space-between;
}
body header div.big-bar nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
body header div.big-bar nav ul {
  display: flex;
  gap: 24px;
}
body header div.big-bar nav ul li {
  list-style-type: none;
  display: flex;
}
body header div.big-bar nav ul li a {
  font-weight: bold;
  flex-wrap: nowrap;
  align-self: center;
  color: #5f6368;
  text-decoration: none;
  transition: all 0.1s ease;
  padding: 0 1rem 0 1rem;
  flex-grow: 0;
}
body header div.big-bar nav ul li a:hover {
  color: #202124;
}
body header div.big-bar nav ul li svg.icon-arrow {
  align-self: center;
  fill: #5f6368;
  width: 24px;
  height: 24px;
}
body header div.big-bar div.search-bar {
  background-color: #f1f3f4;
  display: flex;
  flex-wrap: nowrap;
  max-width: 200px;
  border-radius: 4px;
  transition: background 0.2s, color 0.2s;
}
body header div.big-bar div.search-bar:hover {
  background-color: #e8eaed;
}
body header div.big-bar div.search-bar button {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}
body header div.big-bar div.search-bar button .fa-search {
  color: #5f6368;
}
body header div.big-bar div.search-bar input {
  height: 36px;
  width: 200px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}
body header div.language-selector {
  width: 139.717px;
  height: 36px;
  box-shadow: none;
}
body header div.language-selector button.language-menu {
  width: 139.717px;
  height: 36px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e8eaed;
  border-radius: 4px;
}
body header div.language-selector button.language-menu:hover {
  background-color: #f1f3f4;
}
body header div.language-selector button.language-menu svg.icon-language {
  fill: #5f6368;
  width: 24px;
  height: 24px;
}
body header div.language-selector button.language-menu span {
  align-self: center;
  text-align: center;
  padding: 0.6rem;
  width: 63.72px;
  height: 36px;
  color: #5f6368;
}
body header div.language-selector button.language-menu svg.icon-arrow {
  fill: #5f6368;
  width: 24px;
  height: 24px;
}
body header div.circles {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  gap: 8px;
  margin-right: 15px;
}
body header div.circles div.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #dadcd0;
  border-radius: 50%;
}
body header div.circles div.circle:hover {
  background-color: #f1f3f4;
}
body header div.circles div.profile-circle {
  width: 40px;
  height: 40px;
  border: 2px solid blue;
  border-radius: 50%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
body header div.circles div.profile-circle div.circle-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  border: 1.5px solid white;
  overflow: hidden;
}
body header div.circles div.profile-circle div.circle-container img {
  width: 100%;
  z-index: 0;
}
body section.tec-impact {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
  background-color: #1e8e3e;
}
body section.tec-impact div.contents-container {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1488px;
}
body section.tec-impact div.contents-container div.contents {
  flex: 1.5 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
body section.tec-impact div.contents-container div.contents h1 {
  color: white;
  font-size: 32px;
}
body section.tec-impact div.contents-container div.contents p {
  color: white;
  line-height: 1.75rem;
}
body section.tec-impact div.contents-container div.contents div.button {
  background-color: #1e8e3e;
  border-radius: 4px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 125px;
  height: 36px;
}
body section.tec-impact div.contents-container div.contents div.button:hover {
  background-color: #1a7935;
}
body section.tec-impact div.contents-container div.contents div.button p {
  color: white;
}
body section.tec-impact div.contents-container div.img-container {
  flex: 1 0 20%;
  border-radius: 0.6rem;
  max-width: 500px;
  overflow: hidden;
  margin: 3rem 0;
}
body section.tec-impact div.contents-container div.img-container img {
  width: 500px;
}
body section.developer-products {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
body section.developer-products div.landing-row-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  width: 1800px;
}
body section.developer-products div.landing-row-inner div.landing-column-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
body section.developer-products div.landing-row-inner div.landing-column-inner header {
  margin: 4rem;
}
body section.developer-products div.landing-row-inner div.landing-column-inner header div.header-text h2 {
  font-size: 44px;
}
body section.developer-products div.landing-row-inner div.landing-column-inner div.products-group {
  display: inline-flex;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body section.developer-products div.landing-row-inner div.landing-column-inner div.products-group div.product-group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 342px;
  height: 96px;
  justify-items: center;
  align-items: center;
}
body section.developer-products div.landing-row-inner div.landing-column-inner div.products-group div.product-group div.row-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 96px;
}
body section.developer-products div.landing-row-inner div.landing-column-inner div.products-group div.product-group div.row-item div.row-item-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body section.developer-products div.landing-row-inner div.landing-column-inner div.products-group div.product-group div.row-item div.row-item-media figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section.developer-products div.landing-row-inner div.landing-column-inner div.products-group div.product-group div.row-item div.row-item-media figure div.icon a div.logo img {
  width: 64px;
  height: auto;
}
body section.developer-products div.landing-row-inner div.landing-column-inner div.products-group div.product-group div.row-item div.row-item-description {
  width: 342px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  justify-self: flex-end;
}
body section.developer-products div.landing-row-inner div.landing-column-inner div.products-group div.product-group div.row-item div.row-item-description div.row-item-description-content {
  align-self: center;
  justify-self: flex-end;
}
body section.developer-products div.landing-row-inner div.landing-column-inner div.button {
  margin: 6rem 0;
  border-radius: 4px;
  background-color: #1a73eb;
  width: 230px;
  height: 36px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
body section.developer-products div.landing-row-inner div.landing-column-inner div.button:hover {
  background-color: #1765cc;
}
body section.developer-products div.landing-row-inner div.landing-column-inner div.button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: small;
}
body section.work-smarter {
  background-color: #1a73eb;
  padding: 40px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
body section.work-smarter div.landing-row-inner div.landing-row-group div.item-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section.work-smarter div.landing-row-inner div.landing-row-group div.item-body h3.content {
  margin-bottom: 30px;
  font-size: 40px;
  color: white;
}
body section.work-smarter div.landing-row-inner div.landing-row-group div.item-body div.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 240px;
  height: 36px;
  border-radius: 5px;
}
body section.work-smarter div.landing-row-inner div.landing-row-group div.item-body div.button a {
  color: #4073e8;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
}
body section.work-smarter div.landing-row-inner div.landing-row-group div.item-body div.button:hover {
  background-color: #e8f0fe;
}
body section.work-smarter div.landing-row-inner div.landing-row-group div.item-body div.button:hover a {
  color: #3573e8;
}
body section.events-community {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body section.events-community div.landing-row-inner div.landing-row-group {
  display: inline-flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  width: 1800px;
  padding: 24px;
}
body section.events-community div.landing-row-inner div.landing-row-group div.events {
  border: 1px solid #dadce0;
  padding-bottom: 20px;
  display: flex;
  border-radius: 10px;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 700px;
}
body section.events-community div.landing-row-inner div.landing-row-group div.events div.item-media {
  overflow: hidden;
}
body section.events-community div.landing-row-inner div.landing-row-group div.events div.item-media figure a img {
  width: 700px;
}
body section.events-community div.landing-row-inner div.landing-row-group div.events div.item-description {
  display: flex;
  justify-content: center;
}
body section.events-community div.landing-row-inner div.landing-row-group div.events div.item-description div.landing-row-item-body {
  width: 670px;
}
body section.events-community div.landing-row-inner div.landing-row-group div.events div.item-description div.landing-row-item-body h3 {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 1.5rem;
  color: #1a73e8;
  margin-bottom: 1.5rem;
}
body section.events-community div.landing-row-inner div.landing-row-group div.events div.item-description div.landing-row-item-body div.description-content {
  margin-left: 10px;
  color: black;
}
body section.events-community div.landing-row-inner div.landing-row-group div.events div.item-description div.landing-row-item-body div.button {
  border-radius: 5px;
  height: 36px;
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5rem;
}
body section.events-community div.landing-row-inner div.landing-row-group div.events div.item-description div.landing-row-item-body div.button a {
  text-align: center;
  align-self: center;
  color: #4073e8;
  font-size: small;
  text-decoration: none;
  border: 1px solid #dadce0;
  width: 120px;
  height: 36px;
  padding: 10px 24px;
  border-radius: 4px;
  margin: 4px 4px 4px 12px;
}
body section.events-community div.landing-row-inner div.landing-row-group div.events div.item-description div.landing-row-item-body div.button a:hover {
  background-color: #e8f0fe;
}
body section.events-community div.landing-row-inner div.landing-row-group div.community {
  border: 1px solid #dadce0;
  padding-bottom: 20px;
  display: flex;
  border-radius: 10px;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 700px;
}
body section.events-community div.landing-row-inner div.landing-row-group div.community div.item-media {
  overflow: hidden;
}
body section.events-community div.landing-row-inner div.landing-row-group div.community div.item-media figure a img {
  width: 700px;
}
body section.events-community div.landing-row-inner div.landing-row-group div.community div.item-description {
  display: flex;
  justify-content: center;
}
body section.events-community div.landing-row-inner div.landing-row-group div.community div.item-description div.landing-row-item-body {
  width: 670px;
}
body section.events-community div.landing-row-inner div.landing-row-group div.community div.item-description div.landing-row-item-body h3 {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 1.5rem;
  color: #1a73e8;
  margin-bottom: 1.5rem;
}
body section.events-community div.landing-row-inner div.landing-row-group div.community div.item-description div.landing-row-item-body div.description-content {
  margin-left: 10px;
  color: black;
}
body section.events-community div.landing-row-inner div.landing-row-group div.community div.item-description div.landing-row-item-body div.button {
  border-radius: 5px;
  margin-top: 1.5rem;
  height: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body section.events-community div.landing-row-inner div.landing-row-group div.community div.item-description div.landing-row-item-body div.button a {
  text-align: center;
  align-self: center;
  color: #4073e8;
  font-size: small;
  text-decoration: none;
  border: 1px solid #dadce0;
  width: 155px;
  height: 36px;
  padding: 10px 24px;
  border-radius: 4px;
  margin: 4px 4px 4px 12px;
}
body section.events-community div.landing-row-inner div.landing-row-group div.community div.item-description div.landing-row-item-body div.button a:hover {
  background-color: #e8f0fe;
}/*# sourceMappingURL=style.css.map */