$themeColor: #5f6368;
$searchbox-hover: #e8eaed;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Google Sans, Noto Sans, Noto Sans JP, Noto Sans KR,
    Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali,
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  header {
    position: sticky;
    z-index: 10;
    top: 0;
    height: 48px;
    gap: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    //border: 2px solid black;
    div.logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      a {
        align-items: center;
        img {
          padding: 0 1rem 0 1rem;
          width: 185px;
          height: 32px;
        }
      }
    }
    div.big-bar {
      display: flex;
      flex-grow: 1;
      flex-wrap: nowrap;
      justify-content: space-between;
      nav {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        ul {
          display: flex;
          gap: 24px;

          li {
            list-style-type: none;
            display: flex;
            a {
              font-weight: bold;
              flex-wrap: nowrap;
              align-self: center;
              color: $themeColor;
              text-decoration: none;
              transition: all 0.1s ease;
              padding: 0 1rem 0 1rem;
              flex-grow: 0;
              &:hover {
                color: #202124;
              }
            }
            svg.icon-arrow {
              align-self: center;
              fill: $themeColor;
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      div.search-bar {
        background-color: #f1f3f4;
        display: flex;
        flex-wrap: nowrap;
        max-width: 200px;
        border-radius: 4px;
        transition: background 0.2s, color 0.2s;
        &:hover {
          background-color: $searchbox-hover;
        }
        button {
          width: 36px;
          height: 36px;
          border: none;
          border-radius: 4px;
          background-color: transparent;

          .fa-search {
            color: $themeColor;
          }
        }
        input {
          height: 36px;
          width: 200px;
          border: none;
          border-radius: 4px;
          background-color: transparent;
        }
      }
    }

    div.language-selector {
      width: 139.717px;
      height: 36px;
      box-shadow: none;
      button.language-menu {
        width: 139.717px;
        height: 36px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid $searchbox-hover;
        border-radius: 4px;
        &:hover {
          background-color: #f1f3f4;
        }
        svg.icon-language {
          fill: $themeColor;
          width: 24px;
          height: 24px;
        }
        span {
          align-self: center;
          text-align: center;
          padding: 0.6rem;
          width: 63.72px;
          height: 36px;
          color: $themeColor;
        }
        svg.icon-arrow {
          fill: $themeColor;
          width: 24px;
          height: 24px;
        }
      }
    }
    div.circles {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      flex: 0 0 auto;
      flex-wrap: nowrap;
      gap: 8px;
      margin-right: 15px;
      div.circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 1px solid #dadcd0;
        border-radius: 50%;
        &:hover {
          background-color: #f1f3f4;
        }
      }
      div.profile-circle {
        width: 40px;
        height: 40px;
        border: 2px solid blue;
        border-radius: 50%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        z-index: 1;
        div.circle-container {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          width: 95%;
          height: 95%;
          border-radius: 50%;
          border: 1.5px solid white;
          overflow: hidden;
          img {
            width: 100%;
            z-index: 0;
          }
        }
      }
    }
  }

  section.tec-impact {
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: center;
    background-color: #1e8e3e;
    div.contents-container {
      display: flex;
      flex-wrap: nowrap;
      max-width: 1488px;
      div.contents {
        flex: 1.5 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        h1 {
          color: white;
          font-size: 32px;
        }
        p {
          color: white;
          line-height: 1.75rem;
        }
        div.button {
          background-color: #1e8e3e;
          border-radius: 4px;
          border: 1px solid white;
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 125px;
          height: 36px;
          &:hover {
            background-color: #1a7935;
          }
          p {
            color: white;
          }
        }
      }
      div.img-container {
        flex: 1 0 20%;
        border-radius: 0.6rem;
        max-width: 500px;
        overflow: hidden;
        margin: 3rem 0;
        img {
          width: 500px;
        }
      }
    }
  }

  section.developer-products {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    div.landing-row-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 24px;
      width: 1800px;
      div.landing-column-inner {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        header {
          margin: 4rem;
          div.header-text {
            h2 {
              font-size: 44px;
            }
          }
        }
        div.products-group {
          display: inline-flex;
          gap: 2rem;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          div.product-group {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 342px;
            height: 96px;
            justify-items: center;
            align-items: center;
            div.row-item {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              height: 96px;
              div.row-item-media {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                figure {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  div.icon {
                    a {
                      div.logo {
                        img {
                          width: 64px;
                          height: auto;
                        }
                      }
                    }
                  }
                }
              }
              div.row-item-description {
                width: 342px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                justify-self: flex-end;
                div.row-item-description-content {
                  align-self: center;
                  justify-self: flex-end;
                }
              }
            }
          }
        }
        div.button {
          margin: 6rem 0;
          border-radius: 4px;
          background-color: #1a73eb;
          width: 230px;
          height: 36px;
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          &:hover {
            background-color: #1765cc;
          }
          p {
            color: white;
            font-weight: bold;
            font-size: small;
          }
        }
      }
    }
  }
}
