$themeColor: #5f6368;
$searchbox-hover: #e8eaed;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Google Sans, Noto Sans, Noto Sans JP, Noto Sans KR,
    Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali,
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
hr {
  border-top: 0.5px solid $searchbox-hover;
}
body {
  width: 100%;
  header {
    position: sticky;
    z-index: 10;
    top: 0;
    height: 48px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    //border: 2px solid black;
    div.logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      a {
        align-items: center;
        img {
          padding: 0 1rem 0 1rem;
          width: 185px;
          height: 32px;
        }
      }
    }
    div.big-bar {
      display: flex;
      flex-grow: 1;
      flex-wrap: nowrap;
      justify-content: space-between;
      nav {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        ul {
          display: flex;
          gap: 1.5rem;

          li {
            list-style-type: none;
            display: flex;
            a {
              font-weight: bold;
              flex-wrap: nowrap;
              align-self: center;
              color: $themeColor;
              text-decoration: none;
              transition: all 0.1s ease;
              padding: 0 1rem 0 1rem;
              flex-grow: 0;
              &:hover {
                color: #202124;
              }
            }
            svg.icon-arrow {
              align-self: center;
              fill: $themeColor;
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      div.search-bar {
        background-color: #f1f3f4;
        display: flex;
        flex-wrap: nowrap;
        max-width: 200px;
        border-radius: 4px;
        transition: background 0.2s, color 0.2s;
        &:hover {
          background-color: $searchbox-hover;
        }
        button {
          width: 36px;
          height: 36px;
          border: none;
          border-radius: 4px;
          background-color: transparent;

          .fa-search {
            color: $themeColor;
          }
        }
        input {
          height: 36px;
          width: 200px;
          border: none;
          border-radius: 4px;
          background-color: transparent;
        }
      }
    }

    div.language-selector {
      width: 139.717px;
      height: 36px;
      box-shadow: none;
      button.language-menu {
        width: 139.717px;
        height: 36px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid $searchbox-hover;
        border-radius: 4px;
        &:hover {
          background-color: #f1f3f4;
        }
        svg.icon-language {
          fill: $themeColor;
          width: 24px;
          height: 24px;
        }
        span {
          align-self: center;
          text-align: center;
          padding: 0.6rem;
          width: 63.72px;
          height: 36px;
          color: $themeColor;
        }
        svg.icon-arrow {
          fill: $themeColor;
          width: 24px;
          height: 24px;
        }
      }
    }
    div.circles {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      flex: 0 0 auto;
      flex-wrap: nowrap;
      gap: 8px;
      margin-right: 15px;
      div.circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 1px solid #dadcd0;
        border-radius: 50%;
        &:hover {
          background-color: #f1f3f4;
        }
      }
      div.profile-circle {
        width: 40px;
        height: 40px;
        border: 2px solid blue;
        border-radius: 50%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        z-index: 1;
        div.circle-container {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          width: 95%;
          height: 95%;
          border-radius: 50%;
          border: 1.5px solid white;
          overflow: hidden;
          img {
            width: 100%;
            z-index: 0;
          }
        }
      }
    }
  }

  section.tec-impact {
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: center;
    background-color: #1e8e3e;
    div.contents-container {
      display: flex;
      flex-wrap: nowrap;
      max-width: 1488px;
      div.contents {
        flex: 1.5 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        h1 {
          color: white;
          font-size: 32px;
        }
        p {
          color: white;
          line-height: 1.75rem;
        }
        div.button {
          background-color: #1e8e3e;
          border-radius: 4px;
          border: 1px solid white;
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 125px;
          height: 36px;
          &:hover {
            background-color: #1a7935;
          }
          p {
            color: white;
          }
        }
      }
      div.img-container {
        flex: 1 0 20%;
        border-radius: 0.6rem;
        max-width: 500px;
        overflow: hidden;
        margin: 3rem 0;
        img {
          width: 500px;
        }
      }
    }
  }

  section.developer-products {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    div.landing-row-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 24px;
      width: 1800px;
      div.landing-column-inner {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        header {
          margin: 4rem;
          div.header-text {
            h2 {
              font-size: 44px;
            }
          }
        }
        div.products-group {
          display: inline-flex;
          gap: 2rem;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          div.product-group {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 342px;
            height: 96px;
            justify-items: center;
            align-items: center;
            div.row-item {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              height: 96px;
              div.row-item-media {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                figure {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  div.icon {
                    a {
                      div.logo {
                        img {
                          width: 64px;
                          height: auto;
                        }
                      }
                    }
                  }
                }
              }
              div.row-item-description {
                width: 342px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                justify-self: flex-end;
                div.row-item-description-content {
                  align-self: center;
                  justify-self: flex-end;
                }
              }
            }
          }
        }
        div.button {
          margin: 6rem 0;
          border-radius: 4px;
          background-color: #1a73eb;
          width: 230px;
          height: 36px;
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          &:hover {
            background-color: #1765cc;
          }
          a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: small;
          }
        }
      }
    }
  }

  section.work-smarter {
    background-color: #1a73eb;
    padding: 40px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    div.landing-row-inner {
      div.landing-row-group {
        div.item-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h3.content {
            margin-bottom: 30px;
            font-size: 40px;
            color: white;
          }
          div.button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            width: 240px;
            height: 36px;
            border-radius: 5px;
            a {
              color: #4073e8;
              text-decoration: none;
              font-size: small;
              font-weight: bold;
            }
            &:hover {
              background-color: #e8f0fe;
              a {
                color: #3573e8;
              }
            }
          }
        }
      }
    }
  }

  section.events-community {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    div.landing-row-inner {
      div.landing-row-group {
        display: inline-flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        max-width: 1800px;
        padding: 24px;

        div.events {
          border: 1px solid #dadce0;
          padding-bottom: 20px;
          display: flex;
          border-radius: 10px;
          flex-wrap: nowrap;
          flex-direction: column;
          flex: 0 1 700px;
          min-width: 350px;
          div.item-media {
            overflow: hidden;
            figure {
              a {
                img {
                  width: 700px;
                }
              }
            }
          }
          div.item-description {
            display: flex;
            justify-content: center;
            div.landing-row-item-body {
              flex: 0 1 670px;
              min-width: 400px;
              h3 {
                margin-top: 20px;
                margin-left: 10px;
                font-size: 1.5rem;
                color: #1a73e8;
                margin-bottom: 1.5rem;
              }
              div.description-content {
                margin-left: 10px;
                color: black;
              }
              div.button {
                border-radius: 5px;
                height: 36px;
                display: flex;
                justify-content: flex-start;
                margin-top: 1.5rem;

                a {
                  text-align: center;
                  align-self: center;
                  color: #4073e8;
                  font-size: small;
                  text-decoration: none;
                  border: 1px solid #dadce0;
                  width: 120px;
                  height: 36px;
                  padding: 10px 24px;
                  border-radius: 4px;
                  margin: 4px 4px 4px 12px;
                  &:hover {
                    background-color: #e8f0fe;
                  }
                }
              }
            }
          }
        }
        div.community {
          border: 1px solid #dadce0;
          padding-bottom: 20px;
          display: flex;
          flex: 0 1 700px;
          min-width: 350px;
          border-radius: 10px;
          flex-wrap: nowrap;
          flex-direction: column;

          div.item-media {
            overflow: hidden;
            figure {
              a {
                display: flex;
                img {
                  max-width: 700px;
                }
              }
            }
          }
          div.item-description {
            display: flex;
            justify-content: center;
            div.landing-row-item-body {
              width: 670px;
              h3 {
                margin-top: 20px;
                margin-left: 10px;
                font-size: 1.5rem;
                color: #1a73e8;
                margin-bottom: 1.5rem;
              }
              div.description-content {
                margin-left: 10px;
                color: black;
              }
              div.button {
                border-radius: 5px;
                margin-top: 1.5rem;
                height: 36px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                a {
                  text-align: center;

                  align-self: center;
                  color: #4073e8;
                  font-size: small;
                  text-decoration: none;
                  border: 1px solid #dadce0;
                  width: 155px;
                  height: 36px;
                  padding: 10px 24px;
                  border-radius: 4px;
                  margin: 4px 4px 4px 12px;
                  &:hover {
                    background-color: #e8f0fe;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  section.news {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #f1f3f4;
    padding-bottom: 3rem;
    div.landing-row-inner {
      width: 1600px;
      display: flex;
      justify-content: center;
      align-items: center;
      div.landing-row-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        header {
          background-color: transparent;
          margin: 2.5rem 0;
          h3 {
            font-size: 2.5rem;
          }
        }
        div.flex-group {
          display: inline-flex;
          justify-content: center;
          gap: 2rem;
          flex-direction: row;
          flex-wrap: wrap;

          div.block-group {
            border-radius: 4px;
            background-color: white;
            border: 1px solid #dadce0;
            flex: 1 1 340px;
            min-width: 170px;
            div.row-block {
              div.block-image {
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                div.icon {
                  a {
                    div.icon-container {
                      img {
                        width: 96px;
                      }
                      .flutter {
                        height: 96px;
                      }
                    }
                  }
                }
              }
              div.block-description {
                height: 240px;
                display: flex;
                justify-content: center;
                align-items: center;
                div.landing-row-body {
                  display: flex;
                  flex-direction: column;

                  justify-content: space-between;
                  max-width: 300px;
                  height: 200px;
                  flex: 1 0 0%;
                  h3 {
                    font-size: 1.5rem;
                    color: #1a73e8;
                  }
                  div.block-description-content {
                    font-size: 1rem;
                    color: black;
                  }
                  div.button {
                    width: 90px;
                    height: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    background-color: white;
                    &:hover {
                      background-color: #e8f0fe;
                    }
                    a {
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  section.expert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div.landing-row-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 2.5rem;
      h3 {
        font-size: 2.5rem;
        margin: 2rem 0;
      }
      p {
        font-size: 1.5rem;
        padding: 1.5rem 0;
      }
      a {
        color: #1a73e8;
        text-decoration: none;
        width: 200px;
        height: 36px;
        text-align: center;
        align-self: center;
        background-color: white;
        font-size: small;
        text-decoration: none;
        border: 1px solid #dadce0;
        padding: 10px 24px;
        border-radius: 4px;
        margin: 4px 4px 4px 12px;
        &:hover {
          background-color: #e8f0fe;
        }
      }
    }
    div.landing-row-expert {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 2.5rem;
      width: 100vw;
      div.experts-group {
        flex: 0 1 1800px;

        justify-content: center;
        align-items: center;
        display: inline-flex;
        gap: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        div.layout {
          flex: 0 1 300px;
          min-width: 220px;
          height: 400px;
          border-radius: 10px;
          border: 1px solid #dadce0;
          display: flex;
          justify-content: center;
          align-items: center;
          div.profile {
            width: 90%;
            height: 90%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            div.pic {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              overflow: hidden;
              background-color: blue;
              img {
                width: 100px;
              }
            }
            h4.name {
              font-size: 1.5rem;
              color: black;
            }
            p.location {
              font-size: 1rem;
              color: black;
            }
            p.skills {
              span.title {
                font-size: 1rem;
                color: black;
              }
              span.content {
                font-size: 1rem;
                color: grey;
              }
            }
            a.button {
              color: #1a73e8;
              text-decoration: none;
              width: 100px;
              height: 36px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 4px;
              background-color: white;
              &:hover {
                background-color: #e8f0fe;
              }
              a {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
footer.linkboxes {
  display: flex;
  justify-content: center;
  nav.linkboxes {
    margin-bottom: 2rem;
    flex: 0 1 1855px;
    height: 300px;
    display: flex;
    ul.linkboxes-list {
      flex: 0 1 1855px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li.linkbox {
        flex: 1 0 30%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        display: flex;

        h3.heading {
          padding-top: 2rem;
          flex: 1 0;
          align-self: flex-start;
        }
        ul.list {
          flex: 5 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          li.link {
            list-style-type: none;
            a {
              text-decoration: none;
              color: black;
              &:hover {
                color: #1a73eb;
              }
            }
          }
        }
      }
    }
  }
}
footer.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  nav.nav-block-footer {
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    justify-content: center;

    div.footer-block {
      display: flex;
      flex-direction: row;
      height: 32px;
      padding: 2.5rem 0;
      flex: 1 1 90%;
      max-width: 97.5%;
      justify-content: flex-start;
      nav.footer-site {
        flex: 1 0 0%;
        max-width: 600px;
        display: inline-flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
        div.logo {
          flex: 0 0;
          img {
            width: 200px;
          }
        }
        ul.footer-site {
          flex: 1 0 600px;
          display: flex;
          justify-content: space-between;

          li.link {
            list-style-type: none;
            a {
              text-decoration: none;
              color: black;
              &:hover {
                color: #1a73eb;
              }
            }
          }
        }
      }
    }
  }
}

footer.terms-privacy {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  div.row-container {
    flex: 1 0;
    max-width: 97.5%;
    display: flex;
    gap: 1rem;
    nav.footer-link {
      display: flex;
      align-items: center;
      flex: 1 0;
      max-width: 1700px;
      ul.footer-link {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        li {
          list-style-type: none;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          a {
            text-decoration: none;
            color: black;
            &:hover {
              color: #1a73eb;
            }
          }
          .button {
            color: white;
            background-color: #1a73e8;
            padding: 10px 1.5rem;
            height: 36px;
            border-radius: 4px;
            &:hover {
              color: white;
              background-color: #1765cc;
            }
          }
          span {
            margin-left: 59vw;
            color: black;
          }
        }
        h5 {
          color: black;

          align-self: center;
        }
      }
    }

    div.language-selector {
      width: 139.717px;
      height: 36px;
      box-shadow: none;
      button.language-menu {
        width: 139.717px;
        height: 36px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid $searchbox-hover;
        border-radius: 4px;
        &:hover {
          background-color: #f1f3f4;
        }
        svg.icon-language {
          fill: $themeColor;
          width: 24px;
          height: 24px;
        }
        span {
          align-self: center;
          text-align: center;
          padding: 0.6rem;
          width: 63.72px;
          height: 36px;
          color: $themeColor;
        }
        svg.icon-arrow {
          fill: $themeColor;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
