* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  display: block;
  flex-direction: column;
  justify-content: space-between;
}
body header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
}
body header section.logo {
  flex: 4 1 400px;
  display: flex;
}
body header section.logo p {
  font-size: 1.5rem;
  align-self: center;
  text-align: center;
}
body header section.logo img {
  height: 10vh;
}
body header nav {
  flex: 2 1 200px;
}
body header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
body header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.2s ease;
}
body header nav ul li a:hover {
  color: blue;
  border-bottom: 3px solid blue;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main section.welcome {
  height: 20vh;
  width: 100%;
  padding: 8rem 0;
  background-color: #cfdcec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main section.welcome div.content-container h1 {
  font-weight: bold;
  text-align: center;
  height: 100%;
  align-self: center;
}
body main section.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: space-around;
  flex: 1 0 100px;
  max-width: 1200px;
}
body main section.boxes div.content-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.boxes div.content-container h2 {
  text-align: center;
  padding: 2rem;
}
body main section.boxes div.boxes {
  flex: 2;
  display: inline-flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body main section.boxes div.boxes .box {
  padding: 4rem;
  text-align: center;
  flex: 0 1 1200px;
  min-width: 500px;
  background-color: #8b98a8;
  font-size: 1.25rem;
  transition: all 0.2s ease;
}
body main section.boxes div.boxes .box:hover {
  background-color: rgb(123, 187, 28);
}
body main section.boxes div.action-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.boxes div.action-container [ishide=true] {
  display: none;
}
body main section.boxes div.action-container button.action {
  background-color: #e0edfd;
  text-align: center;
  justify-content: center;
  border: 2px solid #8b98a8;
  border-radius: 6px;
  align-items: center;
  width: 150px;
  height: 50px;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.2s ease;
}
body main section.boxes div.action-container button.action:hover {
  color: blue;
  background-color: lightblue;
}
body footer {
  padding-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body footer section.copyright p {
  font-size: small;
}
body footer section.link {
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer section.link p {
  font-size: medium;
  margin: 1rem;
}
body footer section.link a img {
  width: 3vw;
}/*# sourceMappingURL=style.css.map */